<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
  		<ion-menu-button></ion-menu-button>
  	</ion-buttons>
    <ion-title>Responsive Website Development</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<div class="banner-img">
		<img src="../assets/img/responsive-web-development.png" />		
	</div>
	<div class="amittraders ion-padding">
		<h2 style="text-align: center;padding:5px;line-height: 1.5em;">RESPONSIVE WEBSITE DEVELOPMENT</h2>
		<hr style="background:#444;width:50px;">
		<h5 style="text-align: center;padding: 5px;line-height: 1.5em;">Developing device responsive websites for better user experience</h5>
	</div>
	<div class="content ion-padding">
		<ul>
			<li>
				Developing Responsive Web Applications that helps in displaying website on every device based on the screen size or the viewport.
			</li>
			<li>
				Developing Responsive Website using Bootstrap library and Media Queries in css.
			</li>
			<li>
				Any customization required with respect to aligning content in the website will be done using media query in css.
			</li>
			<li>
				A website is responsive when developed using <a href="/menu/wordpress-development">WordPress</a>.
			</li>
			<li>
				Can also develop application using Angular and Django based on the requirement.
			</li>
		</ul>
	</div>
	<div class="navigate-pages">	
		<ion-fab vertical="center" horizontal="start" slot="fixed">
			<ion-fab-button href="/menu/web-development">
				<ion-icon name="arrow-dropleft-circle"></ion-icon>
			</ion-fab-button>
		</ion-fab>
		<ion-fab vertical="center" horizontal="end" slot="fixed">
			<ion-fab-button href="/menu/ecommerce-development">
				<ion-icon name="arrow-dropright-circle"></ion-icon>
			</ion-fab-button>
		</ion-fab>
	</div>
</ion-content>