<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
  		<ion-menu-button></ion-menu-button>
  	</ion-buttons>
    <ion-title>WordPress Website Development</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<div class="banner-img">
		<img src="../assets/img/wordpress-development.jpg" />		
	</div>
	<div class="amittraders ion-padding">
		<h2 style="text-align: center;padding:5px;line-height: 1.5em;">WORDPRESS WEBSITE DEVELOPMENT</h2>
		<hr style="background:#444;width:50px;">
		<h5 style="text-align: center;padding: 5px;line-height: 1.5em;">Developing websites using WordPress CMS</h5>
	</div>
	<div class="content ion-padding">
		<ul>
			<li>
				Developing WordPress website based on theme selected by user or the one that suits the best based on the requirement
			</li>
			<li>
				Customizing the theme based on the user requirement or the wire-frame provided for the website
			</li>
			<li>
				Working on different plugins to achieve the target requirement of the website
			</li>
			<li>
				Working on SEO (Search Engine Optimization) through the WordPress website
			</li>
			<li>
				Efficient and timely delivery of the website based on the complexity and the requirement.
			</li>
		</ul>
	</div>
	<div class="navigate-pages">	
		<ion-fab vertical="center" horizontal="end" slot="fixed">
			<ion-fab-button href="/menu/web-development">
				<ion-icon name="arrow-dropright-circle"></ion-icon>
			</ion-fab-button>
		</ion-fab>
	</div>
</ion-content>