<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
  		<ion-menu-button></ion-menu-button>
  	</ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<div class="banner-img">
		<img src="../assets/img/banner.jpg" />		
	</div>
	<div class="intro-content">
		<p>
			Experienced Web Developer with a demonstrated history of working in the higher education industry. Skilled in Web framework such as Django, and PHP, WordPress, Java, HTML, CSS, Javascript, Bootstrap, Responsive Web Design, and Leadership. Strong engineering professional with a Engineer’s Degree focused in Information Technology from St. Francis Institute Of Technology.
		</p>
	</div>
	<div class="skill-set ion-padding">
		<h4>Wordpress</h4>
		<ion-progress-bar color="primary" value="0.85"></ion-progress-bar>
		<br>
		<h4>HTML5</h4>
		<ion-progress-bar color="primary" value="0.9"></ion-progress-bar>
		<br>
		<h4>CSS3</h4>
		<ion-progress-bar color="primary" value="0.8"></ion-progress-bar>
		<br>
		<h4>Javascript</h4>
		<ion-progress-bar color="primary" value="0.6"></ion-progress-bar>
		<br>
		<h4>PHP</h4>
		<ion-progress-bar color="primary" value="0.7"></ion-progress-bar>
		<br>
		<h4>Bootstrap</h4>
		<ion-progress-bar color="primary" value="0.85"></ion-progress-bar>	
	</div>

	<!-- My Work -->
	<div class="ion-padding slider">
		<h2 style="text-align: center;padding:5px;">PORTFOLIO</h2>
		<hr style="background:#444;width:50px;">
		<ion-slides pager="true" [options]="slideOpts" class="ion-padding">
			<ion-slide>
				<ion-card>
					<img src="../assets/img/fashionst.png" />

					<ion-card-header>
						<ion-card-subtitle><a href='/services/wordpress-development'>WordPress</a></ion-card-subtitle>
						<ion-card-title>FashionST</ion-card-title>
					</ion-card-header>

					<ion-card-content>
					    <p class="ion-padding">
					    	FashionST is a WordPress website developed for all the fashion passionates...
					    </p>
					</ion-card-content>
				</ion-card>
			</ion-slide>
	      	<ion-slide>
	        	<ion-card>
					<img src="../assets/img/netmatesolutions.png" />

					<ion-card-header>
						<ion-card-subtitle><a href='/services/wordpress-development'>WordPress</a></ion-card-subtitle>
						<ion-card-title>NetMate Solutions</ion-card-title>
					</ion-card-header>

					<ion-card-content>
					    <p class="ion-padding">
					    	NetMate Solutions is a digital marketing agency that works on providing digital solutions...
					    </p>
					</ion-card-content>
				</ion-card>
	      	</ion-slide>
	      	<ion-slide>
	        	<ion-card>
					<img src="../assets/img/amittraders.png" />

					<ion-card-header>
						<ion-card-subtitle><a href='/services/wordpress-development'>WordPress</a></ion-card-subtitle>
						<ion-card-title>Amit Traders</ion-card-title>
					</ion-card-header>

					<ion-card-content>
					    <p class="ion-padding">
					    	Amit Traders is a basic website developed using WordPress...
					    </p>
					</ion-card-content>
				</ion-card>
	      	</ion-slide>
	      	<ion-slide>
	        	<ion-card>
					<img src="../assets/img/khadi-premium-cosmetics.png" />

					<ion-card-header>
						<ion-card-subtitle><a href='/services/wordpress-development'>WordPress</a></ion-card-subtitle>
						<ion-card-title>Khadi Premium Cosmetics</ion-card-title>
					</ion-card-header>

					<ion-card-content>
					    <p class="ion-padding">
					    	Developed a WordPress website for the new brand of Luka Enterprises as Khadi Premium Cosmetics...
					    </p>
					</ion-card-content>
				</ion-card>
	      	</ion-slide>
    	</ion-slides>
	</div>

	<!-- Services -->
	<div class="ion-padding slider">
		<h2 style="text-align: center;padding:5px;">SERVICES</h2>
		<hr style="background:#444;width:50px;">
		<ion-slides pager="true" [options]="slideOpts" class="ion-padding">
			<ion-slide>
				<ion-card>
					<img src="../assets/img/web-development.jpg" />

					<ion-card-header>
						<ion-card-subtitle>Boiler Plate</ion-card-subtitle>
						<ion-card-title>Web Development</ion-card-title>
					</ion-card-header>

					<ion-card-content>
					    <p class="ion-padding">
					    	Developing website using boiler plate method of web development. Developing the website…
					    </p>
					</ion-card-content>
				</ion-card>
			</ion-slide>
	      	<ion-slide>
	        	<ion-card>
					<img src="../assets/img/wordpress-development.jpg" />

					<ion-card-header>
						<ion-card-subtitle>WordPress</ion-card-subtitle>
						<ion-card-title>WordPress Website Development</ion-card-title>
					</ion-card-header>

					<ion-card-content>
					    <p class="ion-padding">
					    	Developing WordPress website based on theme selected by user or the one…
					    </p>
					</ion-card-content>
				</ion-card>
	      	</ion-slide>
	      	<ion-slide>
	        	<ion-card>
					<img src="../assets/img/responsive-web-development.png" />

					<ion-card-header>
						<ion-card-subtitle>Boiler Plate/WordPress</ion-card-subtitle>
						<ion-card-title>Responsive Website Development</ion-card-title>
					</ion-card-header>

					<ion-card-content>
					    <p class="ion-padding">
					    	Developing Responsive Web Applications that helps in displaying website on every device…
					    </p>
					</ion-card-content>
				</ion-card>
	      	</ion-slide>
	      	<ion-slide>
	        	<ion-card>
					<img src="../assets/img/ecommerce-development.png" />

					<ion-card-header>
						<ion-card-subtitle>Boiler Plate/WordPress</ion-card-subtitle>
						<ion-card-title>E-Commerce Website Development</ion-card-title>
					</ion-card-header>

					<ion-card-content>
					    <p class="ion-padding">
					    	Developing Ecommerce Website for the clients/users who want to go bring their…
					    </p>
					</ion-card-content>
				</ion-card>
	      	</ion-slide>
    	</ion-slides>
	</div>
  	
</ion-content>
