<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
  		<ion-menu-button></ion-menu-button>
  	</ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<div class="banner-img">
		<img src="../assets/img/banner.jpg" />		
	</div>
	<div class="intro-content">
		<p>
			Experienced Web Developer with a demonstrated history of working in the higher education industry. Skilled in Web framework such as Django, and PHP, WordPress, Java, HTML, CSS, Javascript, Bootstrap, Responsive Web Design, and Leadership. Strong engineering professional with a Engineer’s Degree focused in Information Technology from St. Francis Institute Of Technology.
		</p>
	</div>
	<div class="skill-set ion-padding">
		<h4>Wordpress</h4>
		<ion-progress-bar color="primary" value="0.85"></ion-progress-bar>
		<br>
		<h4>HTML5</h4>
		<ion-progress-bar color="primary" value="0.9"></ion-progress-bar>
		<br>
		<h4>CSS3</h4>
		<ion-progress-bar color="primary" value="0.8"></ion-progress-bar>
		<br>
		<h4>Javascript</h4>
		<ion-progress-bar color="primary" value="0.6"></ion-progress-bar>
		<br>
		<h4>PHP</h4>
		<ion-progress-bar color="primary" value="0.7"></ion-progress-bar>
		<br>
		<h4>Bootstrap</h4>
		<ion-progress-bar color="primary" value="0.85"></ion-progress-bar>	
	</div>
	<div class="ion-padding">

	</div>
  	
</ion-content>
