<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  I will be back tomorrow!
  </div>

  	<ion-tabs>
	  	<ion-tab-bar slot="bottom">
		    <ion-tab-button tab="home" [routerLink] = "['/']">
		      	<ion-icon name="home"></ion-icon>
		      	<ion-label>Home</ion-label>
		    </ion-tab-button>
		    <ion-tab-button tab="about" [routerLink] = "['/about']">
		      	<ion-icon name="information-circle"></ion-icon>
		      	<ion-label>About</ion-label>
		    </ion-tab-button>
		    <ion-tab-button tab="contact" [routerLink] = "['/contact']">
		      	<ion-icon name="contacts"></ion-icon>
		      	<ion-label>Contact</ion-label>
		    </ion-tab-button>
	  	</ion-tab-bar>
	</ion-tabs>
</ion-content>
