<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
  		<ion-menu-button></ion-menu-button>
  	</ion-buttons>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="banner">
		<img src="../assets/img/banner.jpg" />
	</div>
	<div class="contact ion-padding">
		<h2 style="text-align: center;padding:5px;">DROP YOUR QUERY!</h2>
		<hr style="background:#444;width:50px;">
		<form method="" action="" name="contact-form">
			<ion-item>
				<ion-label position="floating">Name</ion-label>
				<ion-input type="text"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="floating">Email</ion-label>
				<ion-input type="email"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="floating">Message</ion-label>
				<ion-textarea></ion-textarea>			  
			</ion-item>
			<ion-button color="primary" type="submit" style="margin-top: 1em;">Submit</ion-button>
		</form>
	</div>
	<div class="connect ion-padding">
		<h2 style="text-align: center;padding:5px;">LET'S GET IN TOUCH!</h2>
		<hr style="background:#444;width:50px;">
		<table border="0">
			<tr>
				<td><ion-icon name="mail"></ion-icon></td>
				<th><b>Email</b></th>
				<td><a href="mailto:sksksharma0@gmail.com">sksksharma0@gmail.com</a></td>
			</tr>
			<tr>
				<td><ion-icon name="phone-portrait"></ion-icon></td>
				<th><b>Mobile</b></th>
				<td>+91 82868 64601</td>
			</tr>
			<tr>
				<td><ion-icon name="home"></ion-icon></td>
				<th><b>Address</b></th>
				<td>302, B-7, Sector-9, Shanti Nagar, Mira Road (E), Thane - 401107</td>
			</tr>
		</table>
	</div>
	<div class="locate ion-padding">
		<h2 style="text-align: center;padding:5px;">I AM LOCATED HERE!</h2>
		<hr style="background:#444;width:50px;">
		<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d60259.287205236215!2d72.82892691480933!3d19.27342976546596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x3be7b059f8645d95%3A0x4fb9f07998ae6ecf!2sShanti+Nagar+Sec+9%2C+Sector+9%2C+Shanti+Nagar%2C+Mira+Road%2C+Mira+Bhayandar%2C+Maharashtra+401107!3m2!1d19.2734331!2d72.8639465!5e0!3m2!1sen!2sin!4v1565616098696!5m2!1sen!2sin" frameborder="0" style="border:0;width: 100%;height: 320px;padding: 0.5em; margin-top: 1em;" allowfullscreen></iframe>
	</div>
</ion-content>
