<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
  		<ion-menu-button></ion-menu-button>
  	</ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="banner">
		<img src="../assets/img/banner.jpg" />
	</div>
	<div class="about ion-padding">
		<h2 style="text-align: center;padding:5px;">ABOUT ME</h2>
		<hr style="background:#444;width:50px;">
		<ul>
			<li>
				I am a keen learner and a person with a positive attitude having the potential to provide output that shows good results in time.
			</li>			
			<li>
				My work interest includes developing web applications using web technologies such as HTML5, CSS3, JavaScript, Bootstrap, etc. and using WordPress.
			</li>			
			<li>
				I am a team person having a positive vibe with a friendly nature and a good team lead that drives the spirit of working among the members of the team that has helped to complete projects with a positive approach within the given time frame.
			</li>
		</ul>
	</div>
	<div class="experience ion-padding">
		<h2 style="text-align: center;padding:5px;">WORK EXPERIENCE</h2>
		<hr style="background:#444;width:50px;">
		<div class="experience-cards">
			<ion-slides pager="true" [options]="slideOpts" class="ion-padding">
				<ion-slide>
					<ion-card>
						<img class="ion-padding" src="../assets/img/iide.png" />

						<ion-card-header>
							<ion-card-subtitle>Web Developer | April 2017 – August 2017</ion-card-subtitle>
							<ion-card-title>Indian Institute of Digital Education</ion-card-title>
						</ion-card-header>

						<ion-card-content>
						    <ul class="ion-padding">
						    	<li>Developed and managed the <a href="https://iide.co">company website</a> on WordPress</li>
						    	<li>Experience on working with Divi theme along with builder</li>
						    	<li>Working on SEO on the website to build brand and optimize the visibility over the search engines</li>
						    	<li>Creating lead generation landing pages for different courses</li>
						    </ul>
						</ion-card-content>
					</ion-card>
				</ion-slide>
				<ion-slide>
					<ion-card>
						<img class="ion-padding" src="../assets/img/luka-enterprises.webp" />

						<ion-card-header>
							<ion-card-subtitle>Web Development Manager | August 2018 – December 2018</ion-card-subtitle>
							<ion-card-title>Luka Enterprises</ion-card-title>
						</ion-card-header>

						<ion-card-content>
						    <ul class="ion-padding">
						    	<li>Managing a website and working on the features.</li>
						    	<li>Developed an E-Commerce website using WordPress and from scratch using Boiler Plate method of Development.</li>
						    	<li>Adding features and functionalities to the website by integrating various themes and plugins to improve and ease functioning.</li>
						    	<li>Working on the SEO of the website to build their brand <a href="https://khadipremiumcosmetics.com">Khadi Premium Cosmetics</a>.</li>
						    </ul>
						</ion-card-content>
					</ion-card>
				</ion-slide>
				<ion-slide>
					<ion-card>
						<img class="ion-padding" src="../assets/img/lti.png" />

						<ion-card-header>
							<ion-card-subtitle>Graduate Engineering Trainee | December 2018 - Current</ion-card-subtitle>
							<ion-card-title>Larsen & Toubro Infotech</ion-card-title>
						</ion-card-header>

						<ion-card-content>
						    <ul class="ion-padding">
						    	<li>Completed training on Angular 6 and Java Spring boot</li>
						    	<li>Practice on SOA (Service Oriented Architecture) and OSB (Oracle Service Bus) for developing services.</li>
						    	<li>APWF Support for providing support on a project based on I/PM (Imaging and Process Management) Technology for incidents occurring due to faults in email processed by the server. </li>
						    	<li>Working as a volunteer for frontend projects to learn and explore</li>
						    </ul>
						</ion-card-content>
					</ion-card>
				</ion-slide>
			</ion-slides>
		</div>
	</div>
	<div class="co-curricular ion-padding">
		<h2 style="text-align: center;padding:5px;">CO-CURRICULAR ACTIVITIES</h2>
		<hr style="background:#444;width:50px;">
		<ul>
			<li>
				Developed a website for <b>National Service Scheme (NSS)</b> department of our institute to upload and update details of various activities and events carried on regular basis.
			</li>
			<li>
				Developed front end of the placement cell website for <b>Jai Hind College, Mumbai</b>. The website was developed and made responsive using HTML5 and CSS3. 
			</li>
			<li>
				Paper publication in the journal <b>IJGTI (International Conference of Global Technology Initiatives) 2018</b><b>, ISSN (Print): 2277-6591</b> and <b>ISBN 978-81-929189-6-9</b>.
			</li>
			<li>
				Participated in Poster Presentation on <b>Web Application for ITSA</b> held in <b>Universal College of Engineering, Vasai (W), Mumbai – 2017</b> and <b>St. Francis Institute of Technology, Borivali (W), Mumbai - 2017</b>
			</li>
			<li>
				Volunteer and active member of <b>National Service Scheme (NSS)</b> and <b>Social Responsibility Cell (SRC)</b> in <b>St. Francis Institute of Technology, Borivali (W), Mumbai - 2017</b>
			</li>
		</ul>
	</div>
</ion-content>
