.about ul{
	text-align:justify;
	padding: 1.5em;
	line-height: 1.5em;
    -webkit-animation: fadeinleft 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeinleft 2s; /* Firefox < 16 */
        -ms-animation: fadeinleft 2s; /* Internet Explorer */
         -o-animation: fadeinleft 2s; /* Opera < 12.1 */
            animation: fadeinleft 2s;
            animation-direction: left;
}

@keyframes fadeinleft {
    from { 
        opacity: 0; 
        transform: translateX(-20px);
    }
    to   { 
        opacity: 1; 
        transform: translateX(0px);
    }
}

/* Firefox < 16 */
@-moz-keyframes fadeinleft {
    from { 
        opacity: 0; 
        transform: translateX(-20px);
    }
    to   { 
        opacity: 1; 
        transform: translateX(0px);
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinleft {
    from { 
        opacity: 0; 
        transform: translateX(-20px);
    }
    to   { 
        opacity: 1; 
        transform: translateX(0px);
    }
}

/* Internet Explorer */
@-ms-keyframes fadeinleft {
    from { 
        opacity: 0; 
        transform: translateX(-20px);
    }
    to   { 
        opacity: 1; 
        transform: translateX(0px);
    }
}

/* Opera < 12.1 */
@-o-keyframes fadeinleft {
    from { 
        opacity: 0; 
        transform: translateX(-20px);
    }
    to   { 
        opacity: 1; 
        transform: translateX(0px);
    }
}

.co-curricular ul{
    text-align:justify;
    padding: 1.5em;
    line-height: 1.5em;
    -webkit-animation: fadeinright 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeinright 2s; /* Firefox < 16 */
        -ms-animation: fadeinright 2s; /* Internet Explorer */
         -o-animation: fadeinright 2s; /* Opera < 12.1 */
            animation: fadeinright 2s;
            animation-direction: left;
}

@keyframes fadeinright {
    from { 
        opacity: 0; 
        transform: translateX(20px);
    }
    to   { 
        opacity: 1; 
        transform: translateX(0px);
    }
}

/* Firefox < 16 */
@-moz-keyframes fadeinright {
    from { 
        opacity: 0; 
        transform: translateX(20px);
    }
    to   { 
        opacity: 1; 
        transform: translateX(0px);
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadeinright {
    from { 
        opacity: 0; 
        transform: translateX(20px);
    }
    to   { 
        opacity: 1; 
        transform: translateX(0px);
    }
}

/* Internet Explorer */
@-ms-keyframes fadeinright {
    from { 
        opacity: 0; 
        transform: translateX(-20px);
    }
    to   { 
        opacity: 1; 
        transform: translateX(0px);
    }
}

/* Opera < 12.1 */
@-o-keyframes fadeinright {
    from { 
        opacity: 0; 
        transform: translateX(20px);
    }
    to   { 
        opacity: 1; 
        transform: translateX(0px);
    }
}

