<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
  		<ion-menu-button></ion-menu-button>
  	</ion-buttons>
    <ion-title>NetMate Solutions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<div class="banner-img">
		<img src="../assets/img/netmatesolutions.png" />		
	</div>
	<div class="amittraders ion-padding">
		<h2 style="text-align: center;padding:5px;">NETMATE SOLUTIONS</h2>
		<hr style="background:#444;width:50px;">
		<h5 style="text-align: center;padding: 5px;line-height: 1.5em;">A Digital Marketing Assistant for your company</h5>
	</div>
	<div class="content ion-padding">
		<ul>
			<li>
				<a href="https://netmatesolutions.in">NetMate Solutions</a> is a digital marketing agency that works on providing digital solutions and building a brand(s) online presence.
			</li>
			<li>
				The website features a form for users where they can ask for a quotation from the company as per the requirement.
			</li>
			<li>
				Also, it includes a WhatsApp chat icon where any user can directly start a conversation with the concerned person for any query.
			</li>
		</ul>
	</div>
	<div class="navigate-pages">		
		<ion-fab vertical="center" horizontal="start" slot="fixed">
			<ion-fab-button href="/menu/khadi-premium-cosmetics">
				<ion-icon name="arrow-dropleft-circle"></ion-icon>
			</ion-fab-button>
		</ion-fab>
		<ion-fab vertical="center" horizontal="end" slot="fixed">
			<ion-fab-button href="/menu/amittraders">
				<ion-icon name="arrow-dropright-circle"></ion-icon>
			</ion-fab-button>
		</ion-fab>
	</div>
</ion-content>