<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
  		<ion-menu-button></ion-menu-button>
  	</ion-buttons>
    <ion-title>Amit Traders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<div class="banner-img">
		<img src="../assets/img/amittraders.png" />		
	</div>
	<div class="amittraders ion-padding">
		<h2 style="text-align: center;padding:5px;">AMIT TRADERS</h2>
		<hr style="background:#444;width:50px;">
		<h5 style="text-align: center;padding: 5px;line-height: 1.5em;">Manufacturers and Suppliers of leather goods and gift articles</h5>
	</div>
	<div class="content ion-padding">
		<ul>
			<li>
				<a href="https://amittradersindia.com">Amit Traders</a> is a basic website developed using WordPress.
			</li>
			<li>
				The website is used to display and publicize about leather products which are supplied to various companies based on the requirement for different occasions in bulk.
			</li>
			<li>
				The leather products include wallet, passport holders, annual diaries, laptop/laptop-trolley bags, etc.
			</li>
		</ul>
	</div>
	<div class="navigate-pages">		
		<ion-fab vertical="center" horizontal="start" slot="fixed">
			<ion-fab-button href="/menu/netmatesolutions">
				<ion-icon name="arrow-dropleft-circle"></ion-icon>
			</ion-fab-button>
		</ion-fab>
		<ion-fab vertical="center" horizontal="end" slot="fixed">
			<ion-fab-button href="/menu/fashionst">
				<ion-icon name="arrow-dropright-circle"></ion-icon>
			</ion-fab-button>
		</ion-fab>
	</div>
</ion-content>