<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
  		<ion-menu-button></ion-menu-button>
  	</ion-buttons>
    <ion-title>Website Development</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<div class="banner-img">
		<img src="../assets/img/web-development.jpg" />		
	</div>
	<div class="amittraders ion-padding">
		<h2 style="text-align: center;padding:5px;line-height: 1.5em;">WEBSITE DEVELOPMENT</h2>
		<hr style="background:#444;width:50px;">
		<h5 style="text-align: center;padding: 5px;line-height: 1.5em;">Developing websites using boiler plate method</h5>
	</div>
	<div class="content ion-padding">
		<ul>
			<li>
				Developing website using boiler plate method of web development based on the design given by the user.
			</li>
			<li>
				Timely engagement with the user during the course of development for any changes following Agile Method of Software Development.
			</li>
			<li>
				Comfortable in developing the website by editing any given template.
			</li>
			<li>
				Web Technologies used for development include: HTML5, CSS3, JavaScript, jQuery, PHP, MySQL, Bootstrap.
			</li>
			<li>
				Can also develop application using Angular and Django based on the requirement.
			</li>
		</ul>
	</div>
	<div class="navigate-pages">	
		<ion-fab vertical="center" horizontal="start" slot="fixed">
			<ion-fab-button href="/menu/wordpress-development">
				<ion-icon name="arrow-dropleft-circle"></ion-icon>
			</ion-fab-button>
		</ion-fab>
		<ion-fab vertical="center" horizontal="end" slot="fixed">
			<ion-fab-button href="/menu/responsive-web-development">
				<ion-icon name="arrow-dropright-circle"></ion-icon>
			</ion-fab-button>
		</ion-fab>
	</div>
</ion-content>