<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
  		<ion-menu-button></ion-menu-button>
  	</ion-buttons>
    <ion-title>Khadi Premium Cosmetics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<div class="banner-img">
		<img src="../assets/img/khadi-premium-cosmetics.png" />		
	</div>
	<div class="amittraders ion-padding">
		<h2 style="text-align: center;padding:5px;">KHADI PREMIUM COSMETICS</h2>
		<hr style="background:#444;width:50px;">
		<h5 style="text-align: center;padding: 5px;line-height: 1.5em;">A premium range of natural cosmetic products</h5>
	</div>
	<div class="content ion-padding">
		<ul>
			<li>
				<a href="https://khadipremiumcosmetics.com">Khadi Premium Cosmetics</a> is a brand introduced by <a href="https://lukaenterprises.com">Luka Enterprises</a>
			</li>
			<li>
				It is an E-Commerce website for the purchase of natural beauty cosmetic products.
			</li>
			<li>
				The website includes the integration of the PayUMoney payment gateway for online purchase whereby the user gets an invoice for any purchase made online.
			</li>
			<li>
				The website also includes a section where it displays the Instagram feed of the business that helps in engaging the audience and connecting socially.
			</li>
			<li>
				Another version of Khadi Premium Cosmetics is developed using the boilerplate method as discussed in E-Commerce Website Development with the specified features.
			</li>
		</ul>
	</div>
	<div class="navigate-pages">		
		<ion-fab vertical="center" horizontal="end" slot="fixed">
			<ion-fab-button href="/menu/netmatesolutions">
				<ion-icon name="arrow-dropright-circle"></ion-icon>
			</ion-fab-button>
		</ion-fab>
	</div>
</ion-content>