<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
  		<ion-menu-button></ion-menu-button>
  	</ion-buttons>
    <ion-title>E-Commerce Website Development</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<div class="banner-img">
		<img src="../assets/img/ecommerce-development.png" />		
	</div>
	<div class="amittraders ion-padding">
		<h2 style="text-align: center;padding:5px;line-height: 1.5em;">E-COMMERCE WEBSITE DEVELOPMENT</h2>
		<hr style="background:#444;width:50px;">
		<h5 style="text-align: center;padding: 5px;line-height: 1.5em;">Developing e-commerce websites for purchasing online goods or services</h5>
	</div>
	<div class="content ion-padding">
		<ul>
			<li>
				Developing Ecommerce Website for the clients/users who want to go bring their business online.
			</li>
			<li>
				The website will include an Admin Panel, User Account, Payment Gateway and Invoice Generation as the basic functionalities.
			</li>
			<li>
				The <b>Admin Panel</b> can be used to add/edit/delete products, categories, subcategories, blogs, etc. as per the user requirement. Also, it will include the details of the transactions performed on the website.
			</li>
			<li>
				The <b>User Account</b> will be provided for all the registered users on the website where a single user will be able to see the orders and print the invoice for any purchase made on the website. He/She can change password, add/edit/delete details.
			</li>
			<li>
				A <b>Payment Gateway</b> will be integrated based on the gateway kit provided by the authorized bank of the user as a merchant account. Any transactions made through payment gateway will be secured.
			</li>
			<li>
				An <b>Invoice</b> will be generated that will be visible in both User Account and Admin Panel. The invoice generated will include details of the products purchased along with the address details and the total amount with GST as applicable.
			</li>
			<li>
				The website can be developed using <a href="/menu/web-development">boiler plate</a> method and also using <a href="/menu/wordpress-development">WordPress</a> based on the requirement of user/client (s) business.
			</li>
		</ul>
	</div>
	<div class="navigate-pages">	
		<ion-fab vertical="center" horizontal="start" slot="fixed">
			<ion-fab-button href="/menu/responsive-web-development">
				<ion-icon name="arrow-dropleft-circle"></ion-icon>
			</ion-fab-button>
		</ion-fab>
	</div>
</ion-content>