<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
  		<ion-menu-button></ion-menu-button>
  	</ion-buttons>
    <ion-title>FashionST</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

	<div class="banner-img">
		<img src="../assets/img/fashionst.png" />		
	</div>
	<div class="amittraders ion-padding">
		<h2 style="text-align: center;padding:5px;">FASHIONST</h2>
		<hr style="background:#444;width:50px;">
		<h5 style="text-align: center;padding: 5px;line-height: 1.5em;">A ramp for fashion passionates</h5>
	</div>
	<div class="content ion-padding">
		<ul>
			<li>
				<a href="https://fashionst.org">FashionST</a> is a WordPress website developed for all the fashion passionates.
			</li>
			<li>
				FashionST is a fashion show event organized for the people who want to build their career in the fashion industry.
			</li>
			<li>
				It provides a platform for all the participants to learn new and various aspects of modeling and grooming them towards aspects of fashion.
			</li>
			<li>
				It's a One Page website that includes details about various opportunities for the participants. Any individual can register himself/herself for the event for the auditions.
			</li>
		</ul>
	</div>
	<div class="navigate-pages">
		<ion-fab vertical="center" horizontal="start" slot="fixed">
			<ion-fab-button href="/menu/amittraders">
				<ion-icon name="arrow-dropleft-circle"></ion-icon>
			</ion-fab-button>
		</ion-fab>
	</div>
</ion-content>